<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafrans.bank.member.mapper.CInfoMapper">
	
	<resultMap type="com.hafrans.bank.member.beans.domain.CInfo" id="cinfo">
		<id     property="key"      column="C_KEY"       javaType="int"/>
		<result property="cmId"     column="C_CM_ID"     javaType="int"/>
		<result property="ssn"      column="C_SSN"       javaType="java.lang.String" />
		<result property="name"     column="C_NAME"      javaType="java.lang.String"/>
		<result property="tel"      column="C_TEL"       javaType="java.lang.String"/>
		<result property="salary"   column="C_SALARY"    javaType="double"/>
		<result property="balance"  column="C_BALANCE"   javaType="double"/>
		<result property="debt"     column="C_DEBT"      javaType="double"/>
		<result property="business" column="C_BUSINESS"  javaType="java.lang.String"/>
		<result property="unit"     column="C_UNIT"      javaType="java.lang.String"/>
		<result property="add"      column="C_ADD"       javaType="java.lang.String"/>
		<association property="cm" resultMap="cminfo"></association>
	</resultMap>
	
	<!-- addon -->
	<resultMap type="com.hafrans.bank.member.beans.domain.CmInfo" id="cminfo">
		<id     property="id"	    column="CM_ID" javaType="int"/>
 		<result property="showNo" column="CM_SHOW_NO" javaType="java.lang.String"/>
 		<result property="name" column="CM_NAME" javaType="java.lang.String"/> 
 		<result property="sex" column="CM_SEX" javaType="java.lang.String" />
 		<result property="ssn" column="CM_SSN" javaType="java.lang.String"/>
 		<result property="birthday" column="CM_BIRTHDAY" javaType="java.sql.Date"/>
 		<result property="age" column="CM_AGE" javaType="int"/>
 		<result property="nation" column="CM_NATION" javaType="java.lang.String"/>
 		<result property="politicalLandscape" column="CM_POLITICAL_LANDSCAPE" javaType="java.lang.String"/>
 		<result property="hometown" column="CM_HOMETOWN" javaType="java.lang.String"  />
 		<result property="photo" column="CM_PHOTO" javaType="java.lang.String"/>
 		<result property="education" column="CM_EDUCATION" javaType="java.lang.String"/>
 		<result property="degree" column="CM_DEGREE" javaType="java.lang.String"/>
 		<result property="status" column="CM_STATUS" javaType="java.lang.String"/> 
	</resultMap>
	
	
		
	
	<select id="findAll" resultMap="cinfo" >
		SELECT
			c.C_KEY as C_KEY,
		    c.C_CM_ID as C_CM_ID,
			c.C_SSN as C_SSN,
			c.C_NAME as C_NAME,
			c.C_TEL  as C_TEL,
			c.C_SALARY as C_SALARY,
			c.C_BALANCE as C_BALANCE,
			c.C_DEBT as C_DEBT ,
			c.C_BUSINESS as C_BUSINESS ,
			c.C_UNIT as C_UNIT,
			c.C_ADD as C_ADD,
			cm.CM_NAME as CM_NAME,
 			cm.CM_SEX  CM_SEX,
 			cm.CM_SHOW_NO as CM_SHOW_NO,
 			cm.CM_SSN as  CM_SSN,
 			cm.CM_BIRTHDAY as CM_BIRTHDAY,
 			cm.CM_AGE as CM_AGE,
 			cm.CM_NATION as CM_NATION,
 			cm.CM_POLITICAL_LANDSCAPE as CM_POLITICAL_LANDSCAPE,
 			cm.CM_HOMETOWN as  CM_HOMETOWN,
 			cm.CM_PHOTO as  CM_PHOTO,
 			cm.CM_EDUCATION as CM_EDUCATION,
 			cm.CM_DEGREE as CM_DEGREE,
 			cm.CM_STATUS as  CM_STATUS
		FROM
		   gzcrm_cinfo as c
		LEFT JOIN
		   gzcrm_cminfo as cm
		ON c.C_CM_ID = cm.CM_ID
	</select>
	
	<update id="update" parameterType="com.hafrans.bank.member.beans.domain.CInfo">
		UPDATE
			gzcrm_cinfo
		SET 
			C_CM_ID = #{cmId},
			C_SSN = #{ssn},
			C_NAME = #{name},
			C_TEL = #{tel},
			C_SALARY = #{salary},
			C_BALANCE = #{balance},
			C_DEBT = #{debt},
			C_BUSINESS = #{business},
			C_UNIT = #{unit},
			C_ADD = #{add}
		WHERE 
		    C_KEY = #{key}
	</update>
	
	<delete id="delete" parameterType="int" >
		DELETE FROM 
		    gzcrm_cinfo
		WHERE
			C_KEY = #{key}
	</delete>
	
	<insert id="insert" parameterType="com.hafrans.bank.member.beans.domain.CInfo">
		INSERT INTO
		    gzcrm_cinfo
		(C_CM_ID , C_SSN , C_NAME, C_TEL , C_SALARY, C_BALANCE, C_DEBT, C_BUSINESS, C_UNIT, C_ADD )
		VALUES
		(#{cmId},  #{ssn} , #{name}, #{tel}, #{salary}, #{balance}, #{debt} , #{business}, #{unit},#{add} )
	</insert>
	
	<select id="findById" parameterType="int" resultMap="cinfo">
		SELECT
			c.C_KEY as C_KEY,
		    c.C_CM_ID as C_CM_ID,
			c.C_SSN as C_SSN,
			c.C_NAME as C_NAME,
			c.C_TEL  as C_TEL,
			c.C_SALARY as C_SALARY,
			c.C_BALANCE as C_BALANCE,
			c.C_DEBT as C_DEBT ,
			c.C_BUSINESS as C_BUSINESS ,
			c.C_UNIT as C_UNIT,
			c.C_ADD as C_ADD,
			cm.CM_NAME as CM_NAME,
 			cm.CM_SEX  CM_SEX,
 			cm.CM_SHOW_NO as CM_SHOW_NO,
 			cm.CM_SSN as  CM_SSN,
 			cm.CM_BIRTHDAY as CM_BIRTHDAY,
 			cm.CM_AGE as CM_AGE,
 			cm.CM_NATION as CM_NATION,
 			cm.CM_POLITICAL_LANDSCAPE as CM_POLITICAL_LANDSCAPE,
 			cm.CM_HOMETOWN as  CM_HOMETOWN,
 			cm.CM_PHOTO as  CM_PHOTO,
 			cm.CM_EDUCATION as CM_EDUCATION,
 			cm.CM_DEGREE as CM_DEGREE,
 			cm.CM_STATUS as  CM_STATUS
		FROM
		   gzcrm_cinfo as c
		LEFT JOIN
		   gzcrm_cminfo as cm
		ON c.C_CM_ID = cm.CM_ID
		WHERE
		    C_KEY = #{id}
	</select>
	
	<select id="findByInfo" resultMap="cinfo" >
		SELECT
			c.C_KEY as C_KEY,
		    c.C_CM_ID as C_CM_ID,
			c.C_SSN as C_SSN,
			c.C_NAME as C_NAME,
			c.C_TEL  as C_TEL,
			c.C_SALARY as C_SALARY,
			c.C_BALANCE as C_BALANCE,
			c.C_DEBT as C_DEBT ,
			c.C_BUSINESS as C_BUSINESS ,
			c.C_UNIT as C_UNIT,
			c.C_ADD as C_ADD,
			cm.CM_NAME as CM_NAME,
 			cm.CM_SEX  CM_SEX,
 			cm.CM_SHOW_NO as CM_SHOW_NO,
 			cm.CM_SSN as  CM_SSN,
 			cm.CM_BIRTHDAY as CM_BIRTHDAY,
 			cm.CM_AGE as CM_AGE,
 			cm.CM_NATION as CM_NATION,
 			cm.CM_POLITICAL_LANDSCAPE as CM_POLITICAL_LANDSCAPE,
 			cm.CM_HOMETOWN as  CM_HOMETOWN,
 			cm.CM_PHOTO as  CM_PHOTO,
 			cm.CM_EDUCATION as CM_EDUCATION,
 			cm.CM_DEGREE as CM_DEGREE,
 			cm.CM_STATUS as  CM_STATUS
		FROM
		   gzcrm_cinfo as c
		LEFT JOIN
		   gzcrm_cminfo as cm
		ON c.C_CM_ID = cm.CM_ID 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="cmshowno != null">
				cm.CM_SHOW_NO LIKE '%${cmshowno}%'
			</if>
			<if test="cssn != null">
				AND c.C_SSN LIKE '%${cssn}%'
 			</if>
 			<if test="cname != null">
 				AND c.C_NAME LIKE '%${cname}%'
 			</if>
		</trim> 	
	</select>
	
	
	<delete id="deleteBatch" parameterType="list">
		DELETE FROM
		  gzcrm_cinfo
	    WHERE
	    	C_KEY IN 
	    <foreach collection="list" item="id" open="(" separator="," close=")">
	    	#{id}
	    </foreach>
	</delete>
	


</mapper>